body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gold;
}

header {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
}

.skills {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
